img[usemap]{
  width: 100%;
  height: auto;
  display: block;
}
.hidden {
  display: none;
}
#personal-picture {
  width: 100%;
  height: auto; /* Atur tinggi sesuai keinginan */
  object-fit: cover; /* Menjaga proporsi gambar */
}
